* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;

}

footer {
  height: 200px;
  width: 100%;
  background-color: aquamarine;
}


/*utility class*/


.black {
  background-color: #080B12;
}

.grey {
  background-color: #141922;
}


.lightgray {
  background-color: #282828
}

.grigio {
  color: #696B70;
}

/*layout class*/

.sidebar {
  width: 300px;
  height: calc(100vh - 200px);
}

.container {
  height: calc(100vh - 200px);
}


.row {
  display: flex;
}

.main-content {
  width: 100%;

}

.header {
  height: 100px;
}