* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;

}

footer {
  height: 200px;
  width: 100%;
  background-color: aquamarine;
}


/*utility class*/
.black {
  background-color: #080B12;
}

.grey {
  background-color: #141922;
}

.sidegray {
  background-color: #D2D2D2;
}


.lightgray {
  background-color: #282828
}

.grigio {
  color: #696B70;
}



/*layout class*/

.sidebar {
  width: 300px;
  height: calc(100vh - 200px);
}

.container {
  height: calc(100vh - 200px);
}


.row {
  display: flex;
}

.main-content {
  width: 100%;

}

.header {
  height: 100px;
  display: flex;
  justify-content: end;
  padding: 20px 0;

}

.top-header {
  color: white;
  border: 2px solid white;
  border-radius: 25%;
  background-color: #080B12;
  font-weight: bold;
  padding: 20px 15px;

}